@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Mulish', sans-serif;
}


.bannar{
    max-width: 1350px;
    margin: 0 auto; 
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-color: rgba(0, 0, 0, 0.494);
    background-blend-mode:multiply;
    height: 600px;
    background-repeat: no-repeat;
    background-size:cover ;
    border-radius: 10px;
}

.bannar-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-top:106px ;
    padding-bottom: 50px;
}

.bannar-content-heading{
color: #FFF;
font-family: Mulish;
font-size: 64px;
font-weight: 800; 
}

.bannar-content-p{
    color: #FFF;
   padding-top: 20px;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
width: 676px;


}


/* input-fild */

.input-fild{
    background-color:  rgba(255, 255, 255, 0.30);
     flex-direction: row;
    justify-content: center;
    align-items: center; 
    padding-left: 280px;
}

.input{
    width: 174px;
height: 48px;
border-radius: 7px;
border: 0;
padding-left: 10px;
}
.button{
    width: 174px;
height: 48px;
color:#FFF;
border-radius: 8px;
background: #FF5400;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 700;
border: 0;
}

.main-section{
    max-width: 1350px ;
    margin: 0 auto;
}

/* our popular tour */

.tour{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    
}
.tour-content{
    width: 50%;
}

.tour-content-title{
    color: #131318;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
padding-bottom: 15px;
}

.tour-content-titel-common{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 14px;
font-weight: 400;
line-height: 26px;
width: 577px;
padding: 15px;

}

.tour-content-titel-ui{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    width: 577px;
    padding-left: 25px;
    padding-bottom: 15px;
}

.tour-img{
    width: 50%;
    padding-left: 130px;
}

/* Choose Your Destination */

.Destination{
max-width: 1350px;
margin: 0 auto;
min-height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.d-titel{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.d-paragraph{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;;
font-weight: 400;
line-height: 26px;

}

/* destination-img */

.grid{
display:grid ;
grid-template-columns: repeat(12,1fr);
grid-template-rows: repeat(3, 1fr);
width: 100%;
gap: 5px;
object-fit: cover;

}

.grid img{
    width: 100%;
}

.grid-1{
    grid-column: 1/ span 6;
    
}
.grid-2{
    grid-column: 7/ span 13;
}
.grid-3{
    grid-column: 1/ span 4;
}
.grid-4{
    grid-column: 5/span 5;
   
}
.grid-5{
    grid-column: 10/ span 13; 
}
.grid-6{
    grid-column: 1/ span 5; 
}
.grid-7{
    grid-column: 6/ span 13;
}

/* Why Choose Us */

.service-titel{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
}

.sr-titel{
    color: #131318
font-family: Mulish;
font-size: 40px;
font-weight: 800;
}

.sr-para{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 643px;
}

.card-top{
    display: flex;
    justify-content: space-between;
    
}

.card-1 {
    width: 573px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding-top: 50px;
padding-left: 10px;
}

.card-2{
    width: 573px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding-top: 60px;
padding-left: 10px;
}

.card-titel{
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-weight: 800;
padding-top: 10px;
padding-bottom: 10px;
}
.card-para{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
width: 486px;
}

.card-bottom{
    width: 573px;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
margin-left: 390px;
margin-top: 24px;
margin-bottom: 30px;
padding-top: 50px;
padding-left: 10px;
}

.card-tite2{
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-weight: 800;
padding-top: 10px;
padding-bottom: 10px;

}


/* footer-section */

.footer-banar{
    width:1800px ;
    margin: 0 auto;
    background-color: #1313180D;
    width: 1900px;
height: 502px;
}

.foot-1{
   display: flex;
   justify-content: center;
   align-items: center;
  padding-top: 100px;
}

.foot-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot-2-p{
    color: #5A5A5D;
    width: 769px;
    text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}

.foot-icon{
height: 1px;
margin: 20px;
padding: 20px;
}
.hr{
    width: 1072px;
height: 1px;
margin-left: 420px;
}


.footer-bottom{
    color: #131318;
    padding-left: 850px;
    padding-top: 50px;
font-family: Inter;
font-size: 16px;
font-weight: 300;

}